# ============================================================
# Python
# ============================================================
__pycache__/
*.py[cod]
*$py.class
*.so

# ============================================================
# Entornos virtuales
# ============================================================
.venv/
venv/
ENV/
env/

# ============================================================
# Jupyter
# ============================================================
.ipynb_checkpoints/

# ============================================================
# IDE / editores
# ============================================================
.vscode/
.idea/
*.swp
*.swo

# ============================================================
# macOS (los famosos archivos invisibles)
# ============================================================
.DS_Store
.AppleDouble
.LSOverride
._*

# ============================================================
# Archivos temporales del benchmark de disco
# ============================================================
temp_benchmark_disco/
temp_benchmark_disco_grandes/
*.npy

# ============================================================
# Logs y backups
# ============================================================
*.log
*.tmp
*.bak

.python-version
pyproject.toml
uv.lock